<% include ../partials/workflowsheader.ejs %>


<div class="container" style="margin-top:100px">
  <div class="form-group">
    <h3>Scheduled Workflows</h3>
    <nav aria-label="breadcrumb">
      <ol id="breadcrumblist" class="breadcrumb">
        <li class="breadcrumb-item item active" aria-current="page"><i class="fas fa-folder"></i></li>
        <li class="breadcrumb-item item" onclick="updatedeletedir(-1)"><a id="home">Workflows</a></li>

      </ol>
    </nav>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" onclick="location.href = '/workflows/create' " class="btn btn-light">Create a new Workflow</button>
    </div>
    <!-- New file name entry -->
    <div class="input-group mb-3 nameentry" style="display:none">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary addnewfolder" onclick="createnewfolder()" type="button"
          id="button-addon1">Create</button>
      </div>
      <input type="text" id="namebox" class="namebox form-control" placeholder="Folder name"
        aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
    <!-- Rename file entry -->
    <div class="input-group mb-3 renameentry" style="display:none">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary renamefolder" onclick="renameFile()" type="button"
          id="button-addon1">Rename File/Folder</button>
      </div>
      <input type="text" id="renamebox" class="namebox form-control" placeholder="New Name"
        aria-label="Example text with button addon" aria-describedby="button-addon1">
      <input type="hidden" id="filename">
    </div>
    <!-- file input -->
    <button style="float:right" onclick="deleteitemshow()" class="btn btn-light"><i class="fas fa-trash"></i>
      Edit</button>
    <button style="float:right" onclick="showupload()" class="btn btn-light"><i class="fas fa-upload"></i> Upload
      Workflow Script</button>

    <!-- File upload input -->
    <div id="drop-area">
      <form id="fileuploadform" class="my-form" action="/uploadfile" method="POST" enctype="multipart/form-data">
        <p id="drag-label">Drag files here to upload</p>
        <i style="display:block;font-size:30;margin-bottom:30px;margin-top: 30px" class="fas fa-upload"></i>
        <input type="file" name="fileElem" id="fileElem" multiple onchange="handleFiles(this.files)">
        <label class="button" for="fileElem">Select some files</label>
        <progress id="progress-bar" max=100 value=0></progress>
      </form>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Search</span>
      </div>
      <input type="text" id="searchinput" class="form-control" placeholder="Search Workflows" aria-label="Username"
        aria-describedby="basic-addon1">
    </div>
    <ul id="list" class="list-group" style="max-height: 500px; overflow: scroll;">

      <% for (var i = 0; i< scheduledWorkflows.length; i++) { %>
      
        <% if(scheduledWorkflows[i] != 'Logs' && scheduledWorkflows[i] != 'workflow.json'){ %>
          <% if(scheduledWorkflows[i][0] != '.'){ %>
        
        <li id="<%= i %>" class="list-group-item"><a href="#" onclick=""><span style="margin-right:20px"><%= scheduledWorkflows[i].name %></span><span style="margin-right:20px"><%= scheduledWorkflows[i].workflowName %></span><span>Runs every: <%= scheduledWorkflows[i].scheduled %> Minutes</span></a><p style="float:right;display:inline;margin-bottom:0px"><span id="workflow-status-<%=i%>"></span><button class="btn btn-sm btn-success" onclick="startSchedule('<%= scheduledWorkflows[i] %>', '<%= i %>')" style="padding-top:0px;padding-bottom:0px">Start Schedule</button><button class="btn btn-sm btn-danger" onclick="stopSchedule('<%= scheduledWorkflows[i].workflowName %>', '<%= i %>')" style="padding-top:0px;padding-bottom:0px">Stop Schedule</button><% } %></p></li>
      <% }} %>

    </ul>
  </div>
</div>
<script>

  function startSchedule(workflow, number){

    

  }

  function stopSchedule(workflow, number){

    $.post({
      url:'/workflow/cancelSchedule',
      data:{
        jobName:workflow,
        user:'<%=currentUser.name%>'
      },
      success: function(){
        location.href = '/workflows/scheduled/'
      }
    })

  }

  function showWorkflowCode(workflowName){
    window.location.href = '/usersworkflows/<%=currentUser.name%>/show/'+workflowName
  }

  function deleteitemshow(){

    $('.editButtons').attr('hidden', !$('.editButtons').attr('hidden'))
  }

  function runWorkflow(workflowName, user, index){
    var Workflow = {}

        Workflow.name = workflowName,  

    $.ajax({
            type:"POST",
            url:'/workflows/test',
            data:{
                workflow: JSON.stringify(Workflow),
                currentUser: user,
                userId: '<%=currentUser.id%>'
            },
            success: function(data){
                console.log(data)
                if(data.status != "Failed"){
                  var outputString = data.status + " " + data.timetoExecute + "</t>"
                } else {
                  var outputString = data.status
                }
                $('#workflow-status-'+index).html(outputString)
            },
            error: function(err){
                console.log("Error")
                $('#workflow-status').html(err)
            }
        })
  }

  function deleteWorkflow(userId, fileName){
    $.ajax({
            type:"POST",
            url:'/workflows/delete',
            data:{
                userId: userId, 
                workflow: fileName,
            },
            success: function(){
                location.href = '/usersworkflows/<%=currentUser.name%>'
            }
        })
  }

</script>

<style>

  .show {
    display: 'block'
  }
</style>


<% include ../partials/footer.ejs %>
