<% include ../partials/databaseheader.ejs %>
<div class="container" style="position: relative;">
    <h1>Edit Database Table</h1>
    <form action="/database/edit/" method="POST">
    <input style="margin-top:30px" type="text" id="nameBox" name="tableName" class="namebox form-control w-50" placeholder="Table Name"
        aria-label="Example text with button addon" aria-describedby="button-addon1" value="<%=database.dbName%>">
    
    <input style="margin-top:30px" type="hidden" id="databaseId" name="databaseId"
        aria-label="Example text with button addon" aria-describedby="button-addon1" value="<%=database.databaseId%>">

    <h4 style="margin-top:20px">Table Configuration</h4>
    <div class="form-control" style="width:100%">
    <label for="directoryInput" class="form-label">Edit Records</label>
    <select class="form-control w-25">
        <option>True</option>
        <option>False</option>
    </select>
    <label for="directoryInput" class="form-label">Delete Records</label>
    <select class="form-control w-25">
        <option>True</option>
        <option>False</option>
    </select>
    </div>
    <h4 style="margin-top:20px">Key Configuration</h4>
    <div class="form-control" style="width:100%">
    
    </div>
    <h4 style="margin-top:20px">Schema Definition</h4>
    <div class="form-control" style="width:100%">
    <label for="directoryInput" class="form-label">Schema</label>
    <textarea onkeyup="prettyPrint()" class="form-control" name="schemaDefinition" id="jsonInput" cols="20" rows="8">
{<% for(var i = 0; i < Object.keys(databaseSchema).length; i++){ %>
    "<%= Object.keys(databaseSchema)[i] %>":"<%= databaseSchema[Object.keys(databaseSchema)[i]]%>",<% } %>
}
    </textarea>
    </div>
    <h4 style="margin-top:20px">Access</h4>
    <div class="form-control" style="width:100%">
        <p>Input usernames that can access this table.</p>
    <label for="directoryInput" class="form-label">Username list (Separated by comma)</label>
    <textarea class="form-control"></textarea>
    </div>
    <input type="hidden" value="<%= currentUser.id %>" name="userId">
    <button  style="margin-top:30px" class="btn btn-primary">Update</button>
</form>
</div>
<script>

function prettyPrint() {
        var ugly = $('#jsonInput').val();
        var obj = JSON.parse(ugly);
        var pretty = JSON.stringify(obj, undefined, 4);
        $('#jsonInput').val(pretty);
    }

</script>
    

<% include ../partials/footer.ejs %>