<% include ../partials/securityheader.ejs %>

  <div class="container" style="margin-top:100px">
    <div class="form-group">
      <nav aria-label="breadcrumb">
        <ol id="breadcrumblist" class="breadcrumb">
          <li class="breadcrumb-item item active" aria-current="page"><a href="#" id="homeDirectoryButton"
              onclick="homeDirectory()"><i class="fas fa-folder"></i></a></li>

        </ol>
      </nav>

      <!-- File upload input -->
      <div id="drop-area">
        <form id="fileuploadform" class="my-form" action="/uploadfile" method="POST" enctype="multipart/form-data">
          <p id="drag-label">Drag files here to upload</p>
          <i style="display:block;font-size:30;margin-bottom:30px;margin-top: 30px" class="fas fa-upload"></i>
          <input type="file" name="fileElem" id="fileElem" multiple
            onchange="handleFiles(this.files, '<%=currentUser.name%>')">
          <label class="button" for="fileElem">Select some files</label>
          <progress id="progress-bar" max=100 value=0></progress>
        </form>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Search</span>
        </div>
        <input type="text" id="searchinput" class="form-control" placeholder="Search Files" aria-label="Username"
          aria-describedby="basic-addon1">
      </div>
      <div id="itemContainer">
        <ul id="list" class="list-group" style="max-height: 500px; overflow: scroll;">

        </ul>
      </div>
    </div>
  </div>
  <form style="display:none" action="/move" method="POST" id="formData">
    <input type="hidden" name="currentPath" value="" id="formCurrentPath">
    <input type="hidden">
    <input type="hidden" name="fileName" value="" id="formFileName">
  </form>
  <form style="display:none" action="/text/create" method="POST" id="formData2">
    <input type="hidden" name="currentPath" value="" id="formCurrentPath2">
  </form>
  <form style="display:none" action="/text/edit" method="POST" id="formData3">
    <input type="hidden" name="currentPath" value="" id="formCurrentPath3">
    <input type="hidden" name="fileName" value="" id="formFileName3">
  </form>
  <form style="display:none" action="/view/photo" method="POST" id="photoFormData">
    <input type="hidden" name="currentPath" value="" id="photoCurrentPath">
    <input type="hidden" name="fileName" value="" id="photoFileName">
    <input type="hidden" name="currentUser" value="<%=currentUser.name%>" id="currentUser">
  </form>
  <form style="display:none" action="/video/page" method="POST" id="videoFormData">
    <input type="hidden" name="currentPath" value="" id="videoCurrentPath">
    <input type="hidden" name="fileName" value="" id="videoFileName">
    <input type="hidden" name="currentUser" value="<%=currentUser.name%>" id="currentUser">
  </form>
  <form id="changeToListView" style="display:none" action="/storage/ViewFiles" method="POST">
    <input type="hidden" id="pathValue" name="path" value="/">
  </form>

  <form id="editPermissionsPage" style="display:none" action="/security/editFilePermissions" method="POST">
    <input type="hidden" id="path" name="path" value="">
    <input type="hidden" id="file" name="file" value="">
  </form>
  <script type="text/javascript" src="../../modules/breadCrumbScript/breadCrumb.js"></script>
  <script type="text/javascript" src="../../modules/searchDirectory/securitySearch.js"></script>
  <script type="text/javascript" src="../../modules/mediaShow/photoShow.js"></script>
  <script type="text/javascript" src="../../modules/mediaShow/videoShow.js"></script>
  <script type="text/javascript" src="../../modules/upload/uploadTools.js"></script>
  <script type="text/javascript" src="../../modules/tools/searchBar.js"></script>
  <script type="text/javascript" src="../../modules/tools/tools.js"></script>
  <script>
    //-----------------------------------------------------------------------------------------
    //                                   START OF JAVASCRIPT
    //-----------------------------------------------------------------------------------------

    window.path = '<%= path %>'
    window.isEdit = false;

    buildBreadcrumb(path)

    searchDirectory(path, function (files) {
      updateList(files, isEdit)
    })

    function downloadFile(file) {

      var user = "/<%=currentUser.name%>"
      window.location = pathJoin(user + path, file)

    }

    window.deleteItemShow = function deleteItemShow() {
      isEdit = !isEdit;
      searchDirectory(path, function (files) {
        updateList(files, isEdit)
      })
    }

    function editPermissions(data, path){
     
      $('#path').val(window.path)
      $('#file').val(data)
        
      $('#editPermissionsPage').submit()
    }

  </script>
  <% include ../partials/footer.ejs %>