<% include ../partials/workflowsheader.ejs %>

<div class="container" style="margin-top:100px">
  <div class="form-group">
    <nav aria-label="breadcrumb">
      <ol id="breadcrumblist" class="breadcrumb">
        <li class="breadcrumb-item item active" aria-current="page"><i class="fas fa-folder"></i></li>
        <li class="breadcrumb-item item" onclick="updatedeletedir(-1)"><a id="home">Websites</a></li>

      </ol>
    </nav>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" onclick="location.href = '/workflows/create' " class="btn btn-light">Create a new Website</button>
    </div>
    <!-- New file name entry -->
    <div class="input-group mb-3 nameentry" style="display:none">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary addnewfolder" onclick="createnewfolder()" type="button"
          id="button-addon1">Create</button>
      </div>
      <input type="text" id="namebox" class="namebox form-control" placeholder="Folder name"
        aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
    <!-- Rename file entry -->
    <div class="input-group mb-3 renameentry" style="display:none">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary renamefolder" onclick="renameFile()" type="button"
          id="button-addon1">Rename File/Folder</button>
      </div>
      <input type="text" id="renamebox" class="namebox form-control" placeholder="New Name"
        aria-label="Example text with button addon" aria-describedby="button-addon1">
      <input type="hidden" id="filename">
    </div>
    <!-- file input -->
    <button style="float:right" onclick="deleteitemshow()" class="btn btn-light"><i class="fas fa-trash"></i>
      Edit</button>
    <button style="float:right" onclick="showupload()" class="btn btn-light"><i class="fas fa-upload"></i> Upload
      Workflow Script</button>

    <!-- File upload input -->
    <div id="drop-area">
      <form id="fileuploadform" class="my-form" action="/uploadfile" method="POST" enctype="multipart/form-data">
        <p id="drag-label">Drag files here to upload</p>
        <i style="display:block;font-size:30;margin-bottom:30px;margin-top: 30px" class="fas fa-upload"></i>
        <input type="file" name="fileElem" id="fileElem" multiple onchange="handleFiles(this.files)">
        <label class="button" for="fileElem">Select some files</label>
        <progress id="progress-bar" max=100 value=0></progress>
      </form>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Search</span>
      </div>
      <input type="text" id="searchinput" class="form-control" placeholder="Search Workflows" aria-label="Username"
        aria-describedby="basic-addon1">
    </div>
    <ul id="list" class="list-group" style="max-height: 500px; overflow: scroll;">

      <% for (var i = 0; i < websites.length; i++) { %>        
        <li id="<%= i %>" class="list-group-item"><a href="#" onclick=""><%= websites[i] %></a><p style="float:right;display:inline;margin-bottom:0px"><a href="/<%=currentUser.name%>/websites/<%=websites[i]%>/index.html" onclick=""><%= websites[i] %>/index.html</a></p></li>
        <% }%>
    </ul>
  </div>
</div>
<style>
  .show {
    display: 'block'
  }
</style>

<% include ../partials/footer.ejs %>